# App
PORT=3000
# CORS_ORIGIN=*
CORS_ORIGIN=http://localhost:8100
# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5412
DB_USERNAME=xxx
DB_PASSWORD=xxxx
DB_NAME=xxxxx
DB_SYNCHRONIZE=true

# JWT
JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=1d
